# Node modules
node_modules/

# Environment variables
.env

# Prisma client gerado
/generated/

# Arquivos gerados automaticamente pelo Prisma
*.wasm

# Prisma migration lock file (gerado automaticamente)
prisma/migrations/migration_lock.toml

# Cache do Prisma (opcional)
.prisma/

# Logs
*.log

# IDEs
.vscode/
.idea/
